@charset "utf-8";

@each $d in $d-list {
  .d-#{$d} {
      display: #{$d}!important;
  }
}
@each $bp-key in $bp-keys-list {
  @include respond-to($bp-key) {
    .d-#{$bp-key}-block {
      display: block!important;
    }
    .d-#{$bp-key}-none {
      display: none!important;
    }
  }
}
// 声明通用显示类，以及在不同分辨率的显隐情况的条件函数，声明顺序不能倒转

@for $i from 1 through 6 {
  .main-mt-no#{$i} {
    margin-top: 4em - 0.5em * ($i - 1);
  }
}
// 声明首页的模块的上外边距的类，并形成规律
