@charset "utf-8";

.main {
  &-container {
    margin-left: 18.75%;
    margin-right: 18.75%;

    &-title {
      margin-top: 0;
      margin-bottom: 1.7em;
      color: $color-title;
      text-align: center;
    }
  }
}
// 定义主体内容的边距值
