@charset "utf-8";

// 1. 定义面包屑导航为flex弹性布局
// 2. 定义面包屑导航的边距值

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; // 1

  margin-top: 0.6em;
  margin-bottom: 0.8em; // 2
}

.breadcrumb-item {
  @include fs-(4);
  & a {
    color: $color-title;
  }
} // 定义面包屑导航的导航选项字体大小以及颜色

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.25em;
  &::before {
    display: inline-block;
    padding-right: 0.1em;

    color: $color-title;
    content: ">";
  }
  // 定义面包屑导航之间的边距值，以及分割的符号

  &:hover::before {
    text-decoration: none;
  }
}
// 定义面包屑导航悬浮状态的样式

.breadcrumb-item.active {
  color: $color-primary;
}
// 定义面包屑导航点击状态的样式
