@charset "utf-8";

.feature-card {
  @include flex-column;
  @include flex-center;
  padding-top: 0.5em;
  word-wrap: break-word;
  line-break: auto;

  &-img {
    width: 1.6em;
    height: 1.5em;

    background: url(../img/sprite/main-feature@3x.png) no-repeat;
    background-size: cover;

    &-1 {
      @extend .feature-card-img;
      background-position: 0 0;
    }
    &-2 {
      @extend .feature-card-img;
      background-position: -1.6em 0;
    }
    &-3 {
      @extend .feature-card-img;
      background-position: -3.2em 0;
    }
  } // 定义卡片组件内图片的样式

  &-body {
    &-title {
      color: $color-title;
      text-align: center;
    }
    &-text {
      padding: 0 6%;
      color: $color-text;
    }
  } // 定义卡片组件的主体内容
} // 定义特点区卡片组件的位置和布局

.feature-card-people {
  @extend .feature-card;
  border-left: 0.05em dashed $color-main-dashed;

  &-body {
    @include flex-column;
  }
  &-row {
    @extend .row;
    @include flex-column;
    margin: 0.25em 0;
  }

  &-title {
    @include flex-align-center;
    color: $color-primary;
    margin: 0.25em 0;
  }
  &-icon {
    margin-right: 1em;
    width: 1em;
    height: 1em;

    background: url(../img/user@3x.png) no-repeat;
    background-size: cover;
  }
  &-text {
    color: $color-text;
    margin: 0.25em 0;
  }
}
// 定义特点区的人数卡片的布局和样式

.students-card-group {
  justify-content: space-between;
} // 定义学生区的卡片组的等分分布布局
.students-card {
  @include flex-column;
  @include flex-align-center;
  margin: 0.5em 0.25em;
  margin-bottom: 1em;

  background-color: $color-light;
  border-radius: 0.1em;
  @include box-shadow(0.025em, 0.075em);

  &-img {
    margin-top: 0.4em;
    width: 3.2em;
    height: 3.2em;

    background: url(../img/sprite/students-head@3x.png) no-repeat;
    background-size: cover;

    &-1 {
      @extend .students-card-img;
      background-position: 0 0;
    }
    &-2 {
      @extend .students-card-img;
      background-position: -3.2em 0;
    }
    &-3 {
      @extend .students-card-img;
      background-position: -6.4em 0;
    }
    &-4 {
      @extend .students-card-img;
      background-position: -9.6em 0;
    }
  } // 定义学生区的卡片的头像

  &-body {
    padding: 0.25em;
    &-title {
      color: $color-title;
      text-align: center;
      white-space: nowrap;
    }
    &-text {
      color: $color-text;
      word-wrap: break-word;
      line-break: auto;
    }
  } // 定义学生区的卡片的介绍内容
}
// 定义学生区的卡片的布局和样式

.business-card {
  height: 4.4em;

  border-radius: 0.1em;
  background-color: $color-light;
  @include box-shadow(0.025em, 0.075em);
  cursor: pointer;

  &:hover {
    z-index: 1;
    @include box-shadow(0.1em, 0.3em);
  } // 定义合作企业区的卡片的悬浮状态

  &-img {
    display: inline-block;
    width: 100%;
    height: 100%;

    &-alibaba {
      @extend .business-card-img;
      background: url(../img/alibaba@3x.png) no-repeat center;
      background-size: contain;
    } // 阿里巴巴图片
    &-jinshanyun {
      @extend .business-card-img;
      background: url(../img/jinshanyun@3x.png) no-repeat center;
      background-size: contain;
    } // 金山云图片
    &-huanxin {
      @extend .business-card-img;
      background: url(../img/huanxin@3x.png) no-repeat center;
      background-size: contain;
    } // 环信图片
    &-ronglian {
      @extend .business-card-img;
      background: url(../img/ronglian@3x.png) no-repeat center;
      background-size: contain;
    } // 容联图片
    &-qiniu {
      @extend .business-card-img;
      background: url(../img/qiniu@3x.png) no-repeat center;
      background-size: contain;
    } // 七牛图片
  } // 定义合作企业区的每个卡片的图像
}
// 定义合作企业区的卡片组及每个卡片的布局和样式

.introduce-card {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &-header {
    padding: 0 1.5em;
    border-bottom: 1px solid $color-list-border;

    &-img {
      float: left;
      margin: 0.4em;
      width: 3.4em;
      height: 3em;
      min-width: 68px;
      min-height: 60px;

      background: url(../img/cooperative/tudou@2x.png) no-repeat;
      background-size: cover;
    } // 定义品牌介绍区的卡片的图片

    &-text {
      padding: 1em 0;
      color: $color-text;
      line-height: 2;
    } // 定义品牌介绍区的卡片的文本内容
  } 
  // 定义品牌介绍区的卡片的顶部内容样式和布局

  &-body {
    padding: 0 1.5em;
    & p {
      color: $color-text;
      margin: 1.5em 0;
      line-height: 2;
    }
  }
  // 定义品牌介绍区的卡片的主体内容
}
// 定义品牌介绍区的卡片的样式和布局


.profession-card {
  position: relative;
  margin: 0 0.25em;
  margin-top: 1.2em;

  border-radius: 0.1em;
  background-color: $color-light;
  @include box-shadow;

  &-header {
    padding: 0.4em 0.2em;

    &-img {
      float: left;
      margin-right: 0.2em;

      width: 3em;
      height: 3em;
      min-width: 60px;
      min-height: 60px;
      max-width: 90px;
      max-height: 90px;
    }
    // 定义职业选择区的顶部图片
    &-title {
      color: $color-title;
    }
    &-text {
      color: $color-title;
      word-wrap: break-word;
      white-space: normal;
      word-break: break-all;
    }
    // 定义职业选择区的顶部文本
  }
  // 定义职业选择区的顶部样式和布局

  &-card-body {
    width: 100%;
  }
  // 定义职业选择区的卡片的主体内容

  &-back {
    position: absolute;
    top: 0;
    left: 0;

    @include flex-column;
    @include flex-center;
    padding: 0 1.2em;
    width: 100%;
    height: 100%;
    background-color: $color-msg-bg;

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &-title {
      color: $color-light;
      text-align: center;
    }
    &-text {
      @include fs-(4);
      color: $color-light;

      word-wrap: break-word;
      white-space: normal;
      word-break: break-all;
      @extend %text-ellipsis;
    }
  }
  // 定义职业选择区的卡片的提示信息

  & {
    @include transform-3d;
  }
  &:hover  &-font {
    transform: translateX(100%) rotateY(180deg);
  }
  &:hover  &-back {
    transform: translateX(0) rotateY(0);
  }
  // 定义职业选择区的卡片在悬浮状态的3d翻转效果
}
// 定义职业选择区的卡片的样式和布局