@charset "utf-8";

.steps-list-group {
  @include flex-center;

  &-item {
    margin: 0.5em 0;
    @include flex-center;

    @include respond-to(md) {
        @include flex-align-center;
    }
  } // 定义步骤区的每个步骤整体布局

  &-prepend {
    @include flex-center;
    flex-shrink: 0;
    margin-right: 1em;
    width: 3em;
    height: 3em;

    @include fs-(2);
    color: $color-primary;

    background-color: $color-light;
    border-radius: 50%;
    @include box-shadow(0.1em, 0.3em);
  } // 定义步骤区的每个步骤的前置图形

  &-text {
    width: 100%;
    max-width: 150px;

    @include flex-align-center;
    color: $color-text;
    word-wrap: break-word;
  } // 定义步骤区的每个步骤的正文

  &-arrow {
    display: none;
    margin: 0 -0.25em;
    margin-top: 0.5em;
    width: 0.7em;
    height: 0.7em;

    background: url(../img/arrow@3x.png) no-repeat center;
    background-size: 0.7em 0.7em;
  } // 定义步骤区的步骤之间的箭头
}
// 定义步骤区的列表组的样式

.links {
  background-color: $color-light;
  padding: 0 18.75%;
  padding-top: 0.5em;

  &-list-group {
    & li {
      @include flex-center;
      padding: 0;
      margin-bottom: 0.5em;
    } // 定义友情链接区的各个列表选项的布局


    & a {
      @include fs-(5);
      color: $color-text;
      word-wrap: break-word;

      &:before {
        content: "";
        display: inline-block;

        margin-right: 0.6em; 
        width: 0.3em;
        height: 0.3em;
        
        vertical-align: middle;
        border-radius: 50%;
        background-color: $color-text;
      }

      &:hover,
      &.active {
        border-bottom: 0.2em solid $color-primary;
      }
    } // 定义友情链接区的各个链接的样式，以及悬浮状态
  }
}
// 定义友情链接区的布局和样式

.brands {
  & .list-group {
    @include flex-column;
    @include flex-justify-center;
    
    text-align: center;
    background-color: $color-light;
    border-radius: 0.1em;
    @include box-shadow;
  } // 定义品牌区的列表组的整体布局和样式

  & .list-group-header {
    display: none;
    margin: 0;
    padding: 1.5em 0;
    width: 100%;

    color: $color-title;
    text-align: center;
    white-space: nowrap;

    border-bottom: 0.1em solid $color-list-border;
  }

  & .list-group-item {
    @include flex-center;
    margin: 1em 5em;

    @include fs-(5);
    color: $color-primary;
    white-space: nowrap;

    &:nth-child(2) {
      margin-top: 2em;
    }
    &:last-child {
      margin-bottom: 2em; 
    } // 定义第一个品牌和最后一个品牌的外边距

    &:before {
      content: "";
      display: inline-block;
      margin-right: 0.5em;

      width: 0.6em;
      height: 0.6em;
      
      border: 0.1em solid $color-active;
      border-radius: 50%;
    } // 定义品牌区的各个选项的样式和前置符号

    &:hover,
    &.active {
      color: $color-active;

      &:before {
        background-color: $color-active;
      }
    } // 定义品牌区的各个选项的悬浮状态及点击状态
  }
}
// 定义品牌区的列表组