@charset "utf-8";

// 以下为基本类型颜色
$color-bg: #fafafa;
// 背景颜色
$color-primary: #29B078;
// 主要颜色
$color-secondary: #26A26F;
// 次要颜色
$color-light: #FFF;
// 明亮颜色
$color-info: #F01400;
// 提醒颜色
$color-active: #FF650E;
// 点击状态颜色


// 以下为基本文字颜色
$color-title: #333;
// 题目文字颜色
$color-text: #999;
// 正文文字颜色

$color-aside-border: #32C086;
// 底部下侧边边线颜色
$color-main-dashed: #DEDEDE;
// 主体内容里虚线颜色