@charset "utf-8";

// 以下为基本类型颜色
$color-bg: #FAFAFA;
// 背景颜色
$color-primary: #29B078;
// 主要颜色
$color-secondary: #26A26F;
// 次要颜色
$color-light: #FFF;
// 明亮颜色
$color-info: #F01400;
// 提醒颜色
$color-active: #FF650E;
// 点击状态颜色


// 以下为基本文字颜色
$color-title: #333;
// 题目文字颜色
$color-text: #999;
// 正文文字颜色

// 以下为基本边线颜色
$color-border-primary: #D0D6D9;
// 主要边线颜色
$color-border-secondary: #EDF1F2;
// 次要边线颜色
$color-aside-border: #32C086;
// 底部下侧边边线颜色
$color-main-dashed: #DEDEDE;
// 主体内容里虚线颜色
$color-list-border: #E6E6E6;
// 列表的边线颜色

// 以下为特殊样式或组件颜色
$color-box-shadow: rgba(8, 1, 3, 0.15);
// 阴影颜色

$color-msg-bg: rgba(0, 0, 0, 0.76);
// 提示信息组件的背景颜色